**Data cleaning tasks for [Global Terrorism Dataset](https://www.kaggle.com/START-UMD/gtd)**


---



---

In [1]:
import pandas as pd
import numpy as np

from google.colab import drive
from google.colab import files

### Reading data file from my personal Google Drive

In [2]:
drive.mount('/content/drive')
GTD_data = pd.read_csv("/content/drive/MyDrive/data_warehouse_project/GTD_data.csv", encoding ='ISO-8859-1', low_memory=False)

Mounted at /content/drive

### General info about the data file and presentation of file's content

In [3]:
GTD_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [4]:
GTD_data

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0       197000000001   1970       7     2  ...        0         0       0      NaN
1       197000000002   1970       0     0  ...        1         1       1      NaN
2       197001000001   1970       1     0  ...       -9         1       1      NaN
3       197001000002   1970       1     0  ...       -9         1       1      NaN
4       197001000003   1970       1     0  ...       -9         1       1      NaN
...              ...    ...     ...   ...  ...      ...       ...     ...      ...
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[181691 rows x 135 columns]

### Making sure that there is no duplicate data based in unique event id

In [5]:
uniqueValues = GTD_data['eventid'].unique()
print(len(uniqueValues) == len(GTD_data))

True

### Manual analysis of the dataset and removing useless and irrelevant columns (analysis based on the official [codebook](https://www.start.umd.edu/gtd/downloads/Codebook.pdf))

In [6]:
rm_cols = ["approxdate", "resolution", "country", "region", "specificity", "summary", "vicinity", "location", "alternative", "attacktype1", "attacktype2", "attacktype3", "targtype1", "targsubtype1", "natlty1", "targtype2", "targsubtype2", "natlty2", "targtype3", "targsubtype3", "corp1", "corp2", "corp3", "natlty3", "gsubname", "gname2", "gsubname2", "gname3", "gsubname3", "motive", "guncertain1", "guncertain2", "guncertain3", "individual", "claimmode", "claim2", "claimmode2", "claimmode2_txt", "claim3", "claimmode3", "claimmode3_txt", "compclaim", "weaptype1", "weapsubtype1", "weapsubtype1_txt", "weaptype2", "weapsubtype2", "weapsubtype2_txt", "weaptype3", "weapsubtype3", "weapsubtype3_txt", "weaptype4", "weapsubtype4", "weapsubtype4_txt", "weapdetail", "propextent", "propvalue", "propcomment", "divert", "ransomamtus", "ransompaidus", "ransomnote","hostkidoutcome", "addnotes", "scite1", "scite2", "scite3", "dbsource", "INT_ANY", "INT_MISC", "related"]

In [7]:
for col in rm_cols:
  GTD_data.pop(col)

In [8]:
GTD_data.info()
GTD_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 64 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   eventid             181691 non-null  int64
 1   iyear               181691 non-null  int64
 2   imonth              181691 non-null  int64
 3   iday                181691 non-null  int64
 4   extended            181691 non-null  int64
 5   country_txt         181691 non-null  object
 6   region_txt          181691 non-null  object
 7   provstate           181270 non-null  object
 8   city                181257 non-null  object
 9   latitude            177135 non-null  float64
 10  longitude           177134 non-null  float64
 11  crit1               181691 non-null  int64
 12  crit2               181691 non-null  int64
 13  crit3               181691 non-null  int64
 14  doubtterr           181690 non-null  float64
 15  alternative_txt     29011 non-null   object
 16  multiple            181690 non-null  float64
 17  success             181691 non-null  int64
 18  suicide             181691 non-null  int64
 19  attacktype1_txt     181691 non-null  object
 20  attacktype2_txt     6314 non-null    object
 21  attacktype3_txt     428 non-null     object
 22  targtype1_txt       181691 non-null  object
 23  targsubtype1_txt    171318 non-null  object
 24  target1             181055 non-null  object
 25  natlty1_txt         180132 non-null  object
 26  targtype2_txt       11144 non-null   object
 27  targsubtype2_txt    10685 non-null   object
 28  target2             11020 non-null   object
 29  natlty2_txt         10828 non-null   object
 30  targtype3_txt       1176 non-null    object
 31  targsubtype3_txt    1097 non-null    object
 32  target3             1175 non-null    object
 33  natlty3_txt         1147 non-null    object
 34  gname               181691 non-null  object
 35  nperps              110576 non-null  float64
 36  nperpcap            112202 non-null  float64
 37  claimed             115571 non-null  float64
 38  claimmode_txt       19083 non-null   object
 39  weaptype1_txt       181691 non-null  object
 40  weaptype2_txt       13127 non-null   object
 41  weaptype3_txt       1863 non-null    object
 42  weaptype4_txt       73 non-null      object
 43  nkill               171378 non-null  float64
 44  nkillus             117245 non-null  float64
 45  nkillter            114733 non-null  float64
 46  nwound              165380 non-null  float64
 47  nwoundus            116989 non-null  float64
 48  nwoundte            112548 non-null  float64
 49  property            181691 non-null  int64
 50  propextent_txt      64065 non-null   object
 51  ishostkid           181513 non-null  float64
 52  nhostkid            13572 non-null   float64
 53  nhostkidus          13517 non-null   float64
 54  nhours              4063 non-null    float64
 55  ndays               8124 non-null    float64
 56  kidhijcountry       3305 non-null    object
 57  ransom              77381 non-null   float64
 58  ransomamt           1350 non-null    float64
 59  ransompaid          774 non-null     float64
 60  hostkidoutcome_txt  10991 non-null   object
 61  nreleased           10400 non-null   float64
 62  INT_LOG             181691 non-null  int64
 63  INT_IDEO            181691 non-null  int64
dtypes: float64(22), int64(13), object(29)
memory usage: 88.7+ MB

             eventid  iyear  imonth  ...  nreleased  INT_LOG INT_IDEO
0       197000000001   1970       7  ...        NaN        0        0
1       197000000002   1970       0  ...        NaN        0        1
2       197001000001   1970       1  ...        NaN       -9       -9
3       197001000002   1970       1  ...        NaN       -9       -9
4       197001000003   1970       1  ...        NaN       -9       -9
...              ...    ...     ...  ...        ...      ...      ...
181686  201712310022   2017      12  ...        NaN        0        0
181687  201712310029   2017      12  ...        NaN       -9       -9
181688  201712310030   2017      12  ...        NaN        0        0
181689  201712310031   2017      12  ...        NaN       -9       -9
181690  201712310032   2017      12  ...        NaN       -9       -9

[181691 rows x 64 columns]

### Creation of a function to determine percantage of missing values for each column and removing columns for which calucated value is equal or grater than 80%

In [9]:
def null_vals(df):
    df_null = pd.DataFrame()
    for col in df.columns:
        df_null.loc[col, 'name'] = df[col].name
        df_null.loc[col, 'null values [%]'] = round(df[col].isnull().sum()*100/ len(df),2)
        df_null.loc[col, 'dtype'] = df[col].dtype
    
    return df_null.sort_values(ascending = False, by = 'null values [%]')

In [10]:
df_null = null_vals(GTD_data)
cols_null = []
for i in df_null.index:
  if df_null['null values [%]'][i] >= 80:
    cols_null.append(df_null['name'][i])
print(cols_null)

['weaptype4_txt', 'attacktype3_txt', 'ransompaid', 'targsubtype3_txt', 'natlty3_txt', 'targtype3_txt', 'target3', 'ransomamt', 'weaptype3_txt', 'kidhijcountry', 'nhours', 'attacktype2_txt', 'ndays', 'nreleased', 'targsubtype2_txt', 'natlty2_txt', 'hostkidoutcome_txt', 'target2', 'targtype2_txt', 'weaptype2_txt', 'nhostkidus', 'nhostkid', 'claimmode_txt', 'alternative_txt']

In [11]:
for i in cols_null:
  GTD_data.pop(i)

In [12]:
GTD_data.info()
null_vals(GTD_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 40 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country_txt       181691 non-null  object
 6   region_txt        181691 non-null  object
 7   provstate         181270 non-null  object
 8   city              181257 non-null  object
 9   latitude          177135 non-null  float64
 10  longitude         177134 non-null  float64
 11  crit1             181691 non-null  int64
 12  crit2             181691 non-null  int64
 13  crit3             181691 non-null  int64
 14  doubtterr         181690 non-null  float64
 15  multiple          181690 non-null  float64
 16  success           181691 non-null  int64
 17  suicide           181691 non-null  int64
 18  attacktype1_txt   181691 non-null  object
 19  targtype1_txt     181691 non-null  object
 20  targsubtype1_txt  171318 non-null  object
 21  target1           181055 non-null  object
 22  natlty1_txt       180132 non-null  object
 23  gname             181691 non-null  object
 24  nperps            110576 non-null  float64
 25  nperpcap          112202 non-null  float64
 26  claimed           115571 non-null  float64
 27  weaptype1_txt     181691 non-null  object
 28  nkill             171378 non-null  float64
 29  nkillus           117245 non-null  float64
 30  nkillter          114733 non-null  float64
 31  nwound            165380 non-null  float64
 32  nwoundus          116989 non-null  float64
 33  nwoundte          112548 non-null  float64
 34  property          181691 non-null  int64
 35  propextent_txt    64065 non-null   object
 36  ishostkid         181513 non-null  float64
 37  ransom            77381 non-null   float64
 38  INT_LOG           181691 non-null  int64
 39  INT_IDEO          181691 non-null  int64
dtypes: float64(15), int64(13), object(12)
memory usage: 55.4+ MB

                              name  null values [%]    dtype
propextent_txt      propextent_txt            64.74   object
ransom                      ransom            57.41  float64
nperps                      nperps            39.14  float64
nperpcap                  nperpcap            38.25  float64
nwoundte                  nwoundte            38.06  float64
nkillter                  nkillter            36.85  float64
claimed                    claimed            36.39  float64
nwoundus                  nwoundus            35.61  float64
nkillus                    nkillus            35.47  float64
nwound                      nwound             8.98  float64
targsubtype1_txt  targsubtype1_txt             5.71   object
nkill                        nkill             5.68  float64
longitude                longitude             2.51  float64
latitude                  latitude             2.51  float64
natlty1_txt            natlty1_txt             0.86   object
target1                    target1             0.35   object
city                          city             0.24   object
provstate                provstate             0.23   object
ishostkid                ishostkid             0.10  float64
gname                        gname             0.00   object
weaptype1_txt        weaptype1_txt             0.00   object
property                  property             0.00    int64
INT_LOG                    INT_LOG             0.00    int64
eventid                    eventid             0.00    int64
iyear                        iyear             0.00    int64
targtype1_txt        targtype1_txt             0.00   object
attacktype1_txt    attacktype1_txt             0.00   object
suicide                    suicide             0.00    int64
success                    success             0.00    int64
multiple                  multiple             0.00  float64
doubtterr                doubtterr             0.00  float64
crit3                        crit3             0.00    int64
crit2                        crit2             0.00    int64
crit1                        crit1             0.00    int64
region_txt              region_txt             0.00   object
country_txt            country_txt             0.00   object
extended                  extended             0.00    int64
iday                          iday             0.00    int64
imonth                      imonth             0.00    int64
INT_IDEO                  INT_IDEO             0.00    int64

### Analysis of empty values and converting them into more convinient form to perform Data Warehouse tasks

In [13]:
GTD_data

             eventid  iyear  imonth  iday  ...  ishostkid ransom INT_LOG INT_IDEO
0       197000000001   1970       7     2  ...        0.0    0.0       0        0
1       197000000002   1970       0     0  ...        1.0    1.0       0        1
2       197001000001   1970       1     0  ...        0.0    0.0      -9       -9
3       197001000002   1970       1     0  ...        0.0    0.0      -9       -9
4       197001000003   1970       1     0  ...        0.0    0.0      -9       -9
...              ...    ...     ...   ...  ...        ...    ...     ...      ...
181686  201712310022   2017      12    31  ...        0.0    NaN       0        0
181687  201712310029   2017      12    31  ...        0.0    NaN      -9       -9
181688  201712310030   2017      12    31  ...        0.0    NaN       0        0
181689  201712310031   2017      12    31  ...        0.0    NaN      -9       -9
181690  201712310032   2017      12    31  ...        0.0    NaN      -9       -9

[181691 rows x 40 columns]

In [14]:
df_missing = null_vals(GTD_data)
cols_missing = []
for i in df_missing.index:
  if df_missing['null values [%]'][i] != 0:
    cols_missing.append(df_null['name'][i])
print(cols_missing)

['propextent_txt', 'ransom', 'nperps', 'nperpcap', 'nwoundte', 'nkillter', 'claimed', 'nwoundus', 'nkillus', 'nwound', 'targsubtype1_txt', 'nkill', 'longitude', 'latitude', 'natlty1_txt', 'target1', 'city', 'provstate', 'ishostkid']

In [15]:
for name in cols_missing:
  print(GTD_data[name].dtype)

object
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
float64
float64
float64
object
object
object
object
float64



- ransom - -10 (not applicable)


---

**-99:**
- ishostkid (-9 or -99)
- nperps (-9 or-99)
- nperpcap (-9 or-99)
- nwoundte
- nkillter
- claimed
- nwoundus
- nkillus
- nwound
- nkill
- longitude
- latitude


---

**"Unknown":**
- targsubtype1_txt
- natlty1_txt
- target1
- city
- provstate
- propextent_txt

In [16]:
# removing "ransom" column from the list as it is a special case
cols_missing.remove('ransom')

In [17]:
# converting NaN values in columns based on their data types:
# float64 - NaN -> -99
# string/obj -> "Unknown"

for col in cols_missing:
  if GTD_data[col].dtype == np.float64:
    GTD_data[col] = GTD_data[col].fillna(-99)
  else:
    GTD_data[col] = GTD_data[col].fillna("Unknown")

In [18]:
# manually conver NaN values in "ransom" column
GTD_data['ransom'] = GTD_data['ransom'].fillna(-10)

In [19]:
# check percentage of empty values in columns after convertions 
null_vals(GTD_data)

                              name  null values [%]    dtype
eventid                    eventid              0.0    int64
iyear                        iyear              0.0    int64
natlty1_txt            natlty1_txt              0.0   object
gname                        gname              0.0   object
nperps                      nperps              0.0  float64
nperpcap                  nperpcap              0.0  float64
claimed                    claimed              0.0  float64
weaptype1_txt        weaptype1_txt              0.0   object
nkill                        nkill              0.0  float64
nkillus                    nkillus              0.0  float64
nkillter                  nkillter              0.0  float64
nwound                      nwound              0.0  float64
nwoundus                  nwoundus              0.0  float64
nwoundte                  nwoundte              0.0  float64
property                  property              0.0    int64
propextent_txt      propextent_txt              0.0   object
ishostkid                ishostkid              0.0  float64
ransom                      ransom              0.0  float64
INT_LOG                    INT_LOG              0.0    int64
target1                    target1              0.0   object
targsubtype1_txt  targsubtype1_txt              0.0   object
targtype1_txt        targtype1_txt              0.0   object
latitude                  latitude              0.0  float64
imonth                      imonth              0.0    int64
iday                          iday              0.0    int64
extended                  extended              0.0    int64
country_txt            country_txt              0.0   object
region_txt              region_txt              0.0   object
provstate                provstate              0.0   object
city                          city              0.0   object
longitude                longitude              0.0  float64
attacktype1_txt    attacktype1_txt              0.0   object
crit1                        crit1              0.0    int64
crit2                        crit2              0.0    int64
crit3                        crit3              0.0    int64
doubtterr                doubtterr              0.0  float64
multiple                  multiple              0.0  float64
success                    success              0.0    int64
suicide                    suicide              0.0    int64
INT_IDEO                  INT_IDEO              0.0    int64

In [20]:
GTD_data

             eventid  iyear  imonth  iday  ...  ishostkid ransom INT_LOG INT_IDEO
0       197000000001   1970       7     2  ...        0.0    0.0       0        0
1       197000000002   1970       0     0  ...        1.0    1.0       0        1
2       197001000001   1970       1     0  ...        0.0    0.0      -9       -9
3       197001000002   1970       1     0  ...        0.0    0.0      -9       -9
4       197001000003   1970       1     0  ...        0.0    0.0      -9       -9
...              ...    ...     ...   ...  ...        ...    ...     ...      ...
181686  201712310022   2017      12    31  ...        0.0  -10.0       0        0
181687  201712310029   2017      12    31  ...        0.0  -10.0      -9       -9
181688  201712310030   2017      12    31  ...        0.0  -10.0       0        0
181689  201712310031   2017      12    31  ...        0.0  -10.0      -9       -9
181690  201712310032   2017      12    31  ...        0.0  -10.0      -9       -9

[181691 rows x 40 columns]

As a result of above operations I obtained a dataset without any missing values (I replaced them with appropriate values based on column's content).

### Exporting cleaned data into my Google Drive as *GTD_data_clean.csv*

In [21]:
#GTD_data.to_csv(r'/content/drive/MyDrive/data_warehouse_project/GTD_data_clean.csv')

In [22]:
#GTD_data.to_excel (r'/content/drive/MyDrive/data_warehouse_project/GTD_data_clean_excel.xlsx', index = None, header=True)

### Manual cleaning data in Google Spreadsheet 

After more careful analyis I decided to perform another manual cleaning on the data file. The cleaning process was about:

* dimensionality reduction in "country" column (f.e. West Germany and Eeast Germany -> Germany) 
* dimensionality reduction in "city" column (f.e. Rome district -> Rome)
* changing colun names for more convinient form (f.e. iyear -> year)

In [23]:
#GTD_data_clean = pd.read_csv("/content/drive/MyDrive/data_warehouse_project/GTD_data_clean_final.csv", encoding ='ISO-8859-1', low_memory=False)

In [26]:
GTD_data_clean.head()

   Unnamed: 0       eventid  year  month  ...  ishostkid  ransom INT_LOG INT_IDEO
0           0  197000000001  1970      7  ...        0.0     0.0       0        0
1           1  197000000002  1970      0  ...        1.0     1.0       0        1
2           2  197001000001  1970      1  ...        0.0     0.0      -9       -9
3           3  197001000002  1970      1  ...        0.0     0.0      -9       -9
4           4  197001000003  1970      1  ...        0.0     0.0      -9       -9

[5 rows x 41 columns]

In [31]:
GTD_data_clean.drop('Unnamed: 0', axis=1, inplace=True)

In [32]:
GTD_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 40 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   eventid             181691 non-null  int64
 1   year                181691 non-null  int64
 2   month               181691 non-null  int64
 3   day                 181691 non-null  int64
 4   extended            181691 non-null  int64
 5   country             181691 non-null  object
 6   region              181691 non-null  object
 7   provstate           181691 non-null  object
 8   city                181691 non-null  object
 9   latitude            181691 non-null  float64
 10  longitude           181691 non-null  float64
 11  category1           181691 non-null  int64
 12  category2           181691 non-null  int64
 13  category3           181691 non-null  int64
 14  doubtterr           181690 non-null  float64
 15  multiple            181690 non-null  float64
 16  success             181691 non-null  int64
 17  suicide             181691 non-null  int64
 18  attacktype          181691 non-null  object
 19  targtype            181691 non-null  object
 20  targsubtype         181691 non-null  object
 21  target_name         181691 non-null  object
 22  target_natlty       181691 non-null  object
 23  gname               181691 non-null  object
 24  nperps              181691 non-null  float64
 25  nperpcap            181691 non-null  float64
 26  claimed             181691 non-null  float64
 27  weaptype1_txt       181691 non-null  object
 28  nkill               181691 non-null  float64
 29  nkillus             181691 non-null  float64
 30  nkillter            181691 non-null  float64
 31  nwound              181691 non-null  float64
 32  nwoundus            181691 non-null  float64
 33  nwoundte            181691 non-null  float64
 34  is_property_damage  181691 non-null  int64
 35  property_damage     181691 non-null  object
 36  ishostkid           181691 non-null  float64
 37  ransom              181691 non-null  float64
 38  INT_LOG             181691 non-null  int64
 39  INT_IDEO            181691 non-null  int64
dtypes: float64(15), int64(13), object(12)
memory usage: 55.4+ MB

In [33]:
GTD_data_clean

             eventid  year  month  day  ...  ishostkid ransom INT_LOG INT_IDEO
0       197000000001  1970      7    2  ...        0.0    0.0       0        0
1       197000000002  1970      0    0  ...        1.0    1.0       0        1
2       197001000001  1970      1    0  ...        0.0    0.0      -9       -9
3       197001000002  1970      1    0  ...        0.0    0.0      -9       -9
4       197001000003  1970      1    0  ...        0.0    0.0      -9       -9
...              ...   ...    ...  ...  ...        ...    ...     ...      ...
181686  201712310022  2017     12   31  ...        0.0  -10.0       0        0
181687  201712310029  2017     12   31  ...        0.0  -10.0      -9       -9
181688  201712310030  2017     12   31  ...        0.0  -10.0       0        0
181689  201712310031  2017     12   31  ...        0.0  -10.0      -9       -9
181690  201712310032  2017     12   31  ...        0.0  -10.0      -9       -9

[181691 rows x 40 columns]

In [34]:
#GTD_data_clean.to_csv(r'/content/drive/MyDrive/data_warehouse_project/GTD_data_clean_final_ver.csv')